# Análise Exploratória de um Dataset de partidas de League of Legends

## 0.1) Import das Bibliotecas

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
pd.set_option('display.float_format', '{:.2f}'.format)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

## 1) Coleta e Limpeza dos Dados

In [2]:
data = pd.read_csv('high_diamond_ranked_10min.csv')
data.head()

,gameId,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,...,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin
0,4519157822,0,28,2,1,9,6,11,0,0,...,0,16567,6.80,17047,197,55,-643,8,19.70,1656.70
1,4523371949,0,12,1,0,5,5,5,0,0,...,1,17620,6.80,17438,240,52,2908,1173,24.00,1762.00
2,4521474530,0,15,0,0,7,11,4,1,1,...,0,17285,6.80,17254,203,28,1172,1033,20.30,1728.50
3,4524384067,0,43,1,0,4,5,5,1,0,...,0,16478,7.00,17961,235,47,1321,7,23.50,1647.80
4,4436033771,0,75,4,0,6,6,6,0,0,...,0,17404,7.00,18313,225,67,1004,-230,22.50,1740.40

In [3]:
data.shape

(9879, 40)

### Tipos dos dados

In [12]:
# Imprimindo os tipo de todas as colunas do dataframe
for col in data.columns:
    if 'red' in col:
        print(f'\033[1;31m{col}: {data[col].dtype}', end=" | ")
    elif 'blue' in col:
        print(f'\033[1;36m{col}: {data[col].dtype}', end=" | ")
    
    print(f'{col}: {data[col].dtype}', end=" | ")

gameId: int64 | blueWins: int64 | blueWins: int64 | blueWardsPlaced: int64 | blueWardsPlaced: int64 | blueWardsDestroyed: int64 | blueWardsDestroyed: int64 | blueFirstBlood: int64 | blueFirstBlood: int64 | blueKills: int64 | blueKills: int64 | blueDeaths: int64 | blueDeaths: int64 | blueAssists: int64 | blueAssists: int64 | blueEliteMonsters: int64 | blueEliteMonsters: int64 | blueDragons: int64 | blueDragons: int64 | blueHeralds: int64 | blueHeralds: int64 | blueTowersDestroyed: int64 | blueTowersDestroyed: int64 | blueTotalGold: int64 | blueTotalGold: int64 | blueAvgLevel: float64 | blueAvgLevel: float64 | blueTotalExperience: int64 | blueTotalExperience: int64 | blueTotalMinionsKilled: int64 | blueTotalMinionsKilled: int64 | blueTotalJungleMinionsKilled: int64 | blueTotalJungleMinionsKilled: int64 | blueGoldDiff: int64 | blueGoldDiff: int64 | blueExperienceDiff: int64 | blueExperienceDiff: int64 | blueCSPerMin: float64 | blueCSPerMin: float64 | blueGoldPerMin: float64 | blueGoldPerMin: float64 | redWardsPlaced: int64 | redWardsPlaced: int64 | redWardsDestroyed: int64 | redWardsDestroyed: int64 | redFirstBlood: int64 | redFirstBlood: int64 | redKills: int64 | redKills: int64 | redDeaths: int64 | redDeaths: int64 | redAssists: int64 | redAssists: int64 | redEliteMonsters: int64 | redEliteMonsters: int64 | redDragons: int64 | redDragons: int64 | redHeralds: int64 | redHeralds: int64 | redTowersDestroyed: int64 | redTowersDestroyed: int64 | redTotalGold: int64 | redTotalGold: int64 | redAvgLevel: float64 | redAvgLevel: float64 | redTotalExperience: int64 | redTotalExperience: int64 | redTotalMinionsKilled: int64 | redTotalMinionsKilled: int64 | redTotalJungleMinionsKilled: int64 | redTotalJungleMinionsKilled: int64 | redGoldDiff: int64 | redGoldDiff: int64 | redExperienceDiff: int64 | redExperienceDiff: int64 | redCSPerMin: float64 | redCSPerMin: float64 | redGoldPerMin: float64 | redGoldPerMin: float64 |

In [13]:
data.sample(1)

,gameId,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,...,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin
6676,4479605659,0,12,2,1,3,2,4,0,0,...,0,15127,7.20,18722,240,52,-1180,-1124,24.00,1512.70

In [14]:
data.dtypes.unique()

array([dtype('int64'), dtype('float64')], dtype=object)

### Estatísticas de Resumo

In [51]:
df_blue = data.loc[:, data.columns.map(lambda x: True if "blue" in x or x == "gameId" or x == "blueWins" else False)]
df_red = data.loc[:, data.columns.map(lambda x: True if "red" in x or x == "gameId" or x == "blueWins" else False)]

In [52]:
df_resume_stats_red = df_red.describe()
df_resume_stats_blue = df_blue.describe()

In [53]:
plus_resume_stats_red = pd.DataFrame(data=[df_red.skew(), df_red.kurtosis()], columns=df_red.kurtosis().index, index=["skew", "kurtosis"])
plus_resume_stats_blue = pd.DataFrame(data=[df_blue.skew(), df_blue.kurtosis()], columns=df_blue.kurtosis().index, index=["skew", "kurtosis"])

In [54]:
df_describe_red = pd.concat([df_resume_stats_red, plus_resume_stats_red])
df_describe_blue = pd.concat([df_resume_stats_blue, plus_resume_stats_blue])

Estatística de resumo do time de lado VERMELHO

In [55]:
df_describe_red

                gameId  blueWins  redWardsPlaced  redWardsDestroyed  redFirstBlood  redKills  redDeaths  redAssists  redEliteMonsters  redDragons  redHeralds  redTowersDestroyed  redTotalGold  redAvgLevel  redTotalExperience  redTotalMinionsKilled  redTotalJungleMinionsKilled  redGoldDiff  redExperienceDiff  redCSPerMin  redGoldPerMin
count          9879.00   9879.00         9879.00            9879.00        9879.00   9879.00    9879.00     9879.00           9879.00     9879.00     9879.00             9879.00       9879.00      9879.00             9879.00                9879.00                      9879.00      9879.00            9879.00      9879.00        9879.00
mean     4500084044.85      0.50           22.37               2.72           0.50      6.14       6.18        6.66              0.57        0.41        0.16                0.04      16489.04         6.93            17961.73                 217.35                        51.31       -14.41              33.62        21.73        1648.90
std        27573278.49      0.50           18.46               2.14           0.50      2.93       3.01        4.06              0.63        0.49        0.37                0.22       1490.89         0.31             1198.58                  21.91                        10.03      2453.35            1920.37         2.19         149.09
min      4295358071.00      0.00            6.00               0.00           0.00      0.00       0.00        0.00              0.00        0.00        0.00                0.00      11212.00         4.80            10465.00                 107.00                         4.00    -11467.00           -8348.00        10.70        1121.20
25%      4483301169.00      0.00           14.00               1.00           0.00      4.00       4.00        4.00              0.00        0.00        0.00                0.00      15427.50         6.80            17209.50                 203.00                        44.00     -1596.00           -1212.00        20.30        1542.75
50%      4510920346.00      0.00           16.00               2.00           0.00      6.00       6.00        6.00              0.00        0.00        0.00                0.00      16378.00         7.00            17974.00                 218.00                        51.00       -14.00              28.00        21.80        1637.80
75%      4521733208.50      1.00           20.00               4.00           1.00      8.00       8.00        9.00              1.00        1.00        0.00                0.00      17418.50         7.20            18764.50                 233.00                        57.00      1585.50            1290.50        23.30        1741.85
max      4527990640.00      1.00          276.00              24.00           1.00     22.00      22.00       28.00              2.00        1.00        1.00                2.00      22732.00         8.20            22269.00                 289.00                        92.00     10830.00            9333.00        28.90        2273.20
skew             -1.46      0.00            4.56               2.95           0.02      0.51       0.54        0.82              0.62        0.35        1.85                5.34          0.41        -0.40               -0.28                  -0.29                         0.23        -0.03              -0.02        -0.29           0.41
kurtosis          3.33     -2.00           30.47              18.24          -2.00      0.21       0.26        0.79             -0.57       -1.88        1.44               30.56          0.22         1.24                0.82                   0.23                         0.42         0.30               0.36         0.23           0.22

Estatística de resumo do time de lado AZUL

In [56]:
df_describe_blue

                gameId  blueWins  blueWardsPlaced  blueWardsDestroyed  blueFirstBlood  blueKills  blueDeaths  blueAssists  blueEliteMonsters  blueDragons  blueHeralds  blueTowersDestroyed  blueTotalGold  blueAvgLevel  blueTotalExperience  blueTotalMinionsKilled  blueTotalJungleMinionsKilled  blueGoldDiff  blueExperienceDiff  blueCSPerMin  blueGoldPerMin
count          9879.00   9879.00          9879.00             9879.00         9879.00    9879.00     9879.00      9879.00            9879.00      9879.00      9879.00              9879.00        9879.00       9879.00              9879.00                 9879.00                       9879.00       9879.00             9879.00       9879.00         9879.00
mean     4500084044.85      0.50            22.29                2.82            0.50       6.18        6.14         6.65               0.55         0.36         0.19                 0.05       16503.46          6.92             17928.11                  216.70                         50.51         14.41              -33.62         21.67         1650.35
std        27573278.49      0.50            18.02                2.17            0.50       3.01        2.93         4.06               0.63         0.48         0.39                 0.24        1535.45          0.31              1200.52                   21.86                          9.90       2453.35             1920.37          2.19          153.54
min      4295358071.00      0.00             5.00                0.00            0.00       0.00        0.00         0.00               0.00         0.00         0.00                 0.00       10730.00          4.60             10098.00                   90.00                          0.00     -10830.00            -9333.00          9.00         1073.00
25%      4483301169.00      0.00            14.00                1.00            0.00       4.00        4.00         4.00               0.00         0.00         0.00                 0.00       15415.50          6.80             17168.00                  202.00                         44.00      -1585.50            -1290.50         20.20         1541.55
50%      4510920346.00      0.00            16.00                3.00            1.00       6.00        6.00         6.00               0.00         0.00         0.00                 0.00       16398.00          7.00             17951.00                  218.00                         50.00         14.00              -28.00         21.80         1639.80
75%      4521733208.50      1.00            20.00                4.00            1.00       8.00        8.00         9.00               1.00         1.00         0.00                 0.00       17459.00          7.20             18724.00                  232.00                         56.00       1596.00             1212.00         23.20         1745.90
max      4527990640.00      1.00           250.00               27.00            1.00      22.00       22.00        29.00               2.00         1.00         1.00                 4.00       23701.00          8.00             22224.00                  283.00                         92.00      11467.00             8348.00         28.30         2370.10
skew             -1.46      0.00             4.14                2.85           -0.02       0.54        0.51         0.89               0.69         0.57         1.60                 5.59           0.47         -0.34                -0.25                   -0.27                          0.12          0.03                0.02         -0.27            0.47
kurtosis          3.33     -2.00            23.44               17.20           -2.00       0.26        0.21         1.16              -0.50        -1.67         0.55                39.86           0.48          1.12                 0.68                    0.17                          0.39          0.30                0.36          0.17            0.48

### Limpeza dos Dados

#### Dados nulos

In [19]:
data.isna().sum().sum()

0

#### Dados duplicados

In [22]:
data.duplicated(subset='gameId').sum()

0

## Análise Exploratória de Dados

### Análise Univariada

In [57]:
sns.histplot(df_red)

### Análise Bivariada

### Análise Multi-variada

### Validação de Hipóteses

### Importância das Features